/* ---------- Contact Me ---------- */

.container.contact-me {
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(38, 38, 38, 1) 50%, rgba(66, 66, 66, 1) 100%);
}

.container.contact-me .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--white);
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.contact-aside {
    display: flex;
    justify-content: center;
    flex: 1;
}

.contact-image {
    width: 100%;
    max-width: 500px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    flex: 1;
}

@media (max-width: 768px) {
    .container.contact-me .content {
        padding: 1rem;
        max-width: 100%;
    }

    .contact-aside {
        display: none;
    }
}