/* ---------- Map Mind ---------- */

/* --------------------------------- */

.map-mind-project .image-side .logo {
    width: calc(300px / 0.4);
    height: calc(147px / 0.4);
    transition: width 0.3s ease, height 0.3s ease;
}

@media (max-width: 1240px) {
    .map-mind-project .image-side .logo {
        width: calc(300px / 0.6);
        height: calc(147px / 0.6);
    }
}

@media (max-width: 768px) {
    .map-mind-project .image-side .logo {
        width: calc(300px / 0.8);
        height: calc(147px / 0.8);
    }
}