/* ---------- NavBar ---------- */

/* ---------------------------- */

.nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    width: calc(100% - 6rem);
    margin: 1rem 3rem;
    padding: 1rem 1rem;
    
    border: 1px solid var(--grey);
    border-radius: 1rem;
    background-color: var(--white-opacity);
    backdrop-filter: blur(5px);

    transition: all 0.3s ease-in-out;
}

.nav img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.nav.dark {
    background-color: var(--black-opacity);
    border: 1px solid var(--grey);
    transition: all 0.3s ease-in-out;
}

.nav.dark img {
    filter: invert(1);
}

.navbar-items {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.navbar-items li {
    list-style-type: none;
}

.navbar-items li:last-child {
    margin-left: auto;
}

.navbar-items a {
    text-decoration: none;
    font-size: 18px;
}

/* TABLET */
@media (max-width: 1240px) {
    .nav {
        width: calc(100% - 2rem);
        margin: 1rem;
        border-radius: 0.75rem;
        padding: 0.5rem;
    }

    .button-hover-animation {
        border-radius: 0.45rem;
    }
    
    .navbar-items {
        gap: 1rem;
    }

    .navbar-items a {
        font-size: 16px;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .nav {
        padding: 1rem;
    }

    .nav .logo {
        width: 30px;
        height: 30px;
    }

    .nav .logo.active {
        margin-bottom: 0.5rem;
    }

    .navbar-items {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
        transition: height 0.3s ease-in-out;
    }

    .navbar-items li:last-child {
        margin: auto;
    }

    .navbar-items a {
        font-size: 18px;
        width: 100%;
        display: block;
        padding: 0.5rem 0;
    }

    .navbar-items:has(.logo:not(.active)) li {
        display: none;
    }
}
