:root {
  --orange: #ef8354;
  --orange-dark: #d85d28;

  --black: #1e1e1e;
}

html{scroll-behavior:smooth}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;

  background-color: #090909;
  opacity: 0.9;
  background-image: linear-gradient(
      30deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      150deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      30deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      150deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      60deg,
      #1e1e1e77 25%,
      transparent 25.5%,
      transparent 75%,
      #1e1e1e77 75%,
      #1e1e1e77
    ),
    linear-gradient(
      60deg,
      #1e1e1e77 25%,
      transparent 25.5%,
      transparent 75%,
      #1e1e1e77 75%,
      #1e1e1e77
    );
  background-size: 66px 116px;
  background-position: 0 0, 0 0, 33px 58px, 33px 58px, 0 0, 33px 58px;
}

.container {
  padding: 0 1rem;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  height: 100%;
  max-width: 80%;
  padding: 0 2rem;
}

/* ---------- NavBar ---------- */

/* ---------------------------- */

.nav {
  padding: 10px 0;
}

.navbar-items {
  display: flex;
  padding: 0;
  gap: 1rem;
}

.navbar-items li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-items a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
    .nav {
        padding: 2rem 3rem;
    }

    .navbar-items a {
        font-size: 22px;
    }
}

/* ---------- Personal Info ---------- */

/* ----------------------------------- */

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
  text-align: center;
  height: 100svh;
}

.personal-info .main{
    flex-direction: column-reverse;
}

.personal-info h1 {
  font-size: 36px;
  background-image: linear-gradient(45deg, var(--orange), var(--orange-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-info .info p{
    font-size: 18px;
}

.personal-info .contacts a{
    color: white;
    text-decoration: none;
    width: max-content;
    font-size: 18px;
}

.personal-info .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info .picture {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 150px;
    z-index: 10;
}

.personal-info .picture:hover {
    transition: 0.2s;
    outline: 1px solid white;
    outline-offset: 5px;
}

.personal-info .shape {
    aspect-ratio: 1;
    width: 200px;
    transform: translateX(20%);
}

.personal-info .contacts {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.personal-info .slide-down {
  display: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  bottom: 0;
  z-index: 10;
  text-decoration: none;
  color: white;

  height: 100px;
  width: 100px;
  transition: 0.2s;

  background: var(--orange);
  border-radius: 50%;
  transform: translateY(50%);
  flex-shrink: 0;
}

.personal-info .slide-down:hover{
    height: 110px;
    width: 110px;
    outline: 1px solid white;
    outline-offset: 5px;
}

.left-line {
    display: none;
    position: absolute;
    top: 30px;
    bottom: 30px;
    width: 2px;
    background: white;
}

@media only screen and (min-width: 768px) {
    .personal-info{
        text-align: right;
    }

    .personal-info .picture {
        width: 300px;
    }

    .personal-info .shape {
        width: 400px;
    }

    .personal-info .main{
        flex-direction: row;
        max-width: 50%;
        gap: 50px;
    }
    
    .personal-info .info h1{
        font-size: 64px;
    }

    .personal-info .contacts{
        padding: 2rem 3rem;
        gap: 1rem;
    }

    .personal-info .contacts a{
        font-size: 22px;
    }
    
    .personal-info .info p{
        font-size: 18px;
    }

    .personal-info .slide-down {
        display: flex;
    }

    .left-line{
        display: block;
    }
}

.text-hover-animation{
    background-image: linear-gradient(
      to right,
      var(--orange),
      var(--orange) 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-hover-animation:before {
  content: "";
  background: var(--orange);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.text-hover-animation:hover {
  background-position: 0;
}

.text-hover-animation:hover::before {
  width: 100%;
}

/* ---------- Project ---------- */

/* ----------------------------- */

.container.project{
    height: 100vh;
    background-color: wheat;
}

.container.project .bottom-half{
    background-color: var(--black);
    height: 50svh;
    width: 100%;
    position: absolute;
    bottom: 0;
}
