:root {
  --orange: #ef8354;
  --orange-dark: #d85d28;

  --black: #1e1e1e;
}

html{scroll-behavior:smooth}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;

  background-color: #090909;
  opacity: 0.9;
  background-image: linear-gradient(
      30deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      150deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      30deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      150deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      60deg,
      #1e1e1e77 25%,
      transparent 25.5%,
      transparent 75%,
      #1e1e1e77 75%,
      #1e1e1e77
    ),
    linear-gradient(
      60deg,
      #1e1e1e77 25%,
      transparent 25.5%,
      transparent 75%,
      #1e1e1e77 75%,
      #1e1e1e77
    );
  background-size: 66px 116px;
  background-position: 0 0, 0 0, 33px 58px, 33px 58px, 0 0, 33px 58px;
  
  background-attachment: fixed;
}

.container {
    position: relative;
    padding: 0 1rem;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  height: 100%;
  padding: 0 2rem;
}

.btn-open{
    border-radius: 2rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    transition: 0.2s;
    font-size: 16px;
    margin: 5px;
}

.btn-icon{
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    transition: 0.2s;
    font-size: 16px;
    margin: 5px;
}

.btn-open:hover, .btn-icon:hover{
    cursor: pointer;
    background-color: var(--orange);
    color: var(--black);
    border: 1px solid var(--black);
}

/* ---------- NavBar ---------- */

/* ---------------------------- */

.nav {
    position: relative;
    padding: 1rem;
}

.navbar-items {
    display: flex;
    padding: 0;
    gap: 1rem;
}

.navbar-items li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-items a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
    .nav {
        padding: 2rem 3rem;
    }

    .navbar-items a {
        font-size: 22px;
    }
}

/* ---------- Personal Info ---------- */

/* ----------------------------------- */

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
  text-align: center;
  height: 100svh;
}

.personal-info .main{
    flex-direction: column-reverse;
    max-width: 80%;
}

.personal-info h1 {
  font-size: 36px;
  background-image: linear-gradient(45deg, var(--orange), var(--orange-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-info .info p{
    font-size: 18px;
}

.personal-info .contacts {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.personal-info .contacts a{
    color: white;
    text-decoration: none;
    width: max-content;
    font-size: 18px;
}

.personal-info .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info .picture {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 150px;
    z-index: 10;
}

.personal-info .picture:hover {
    transition: 0.2s;
    outline: 1px solid white;
    outline-offset: 5px;
}

.personal-info .shape {
    aspect-ratio: 1;
    width: 200px;
    transform: translateX(20%);
}

.personal-info .slide-down {
  display: none;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  bottom: 0;
  z-index: 10;
  text-decoration: none;
  color: white;

  height: 100px;
  width: 100px;
  transition: 0.2s;

  background: var(--orange);
  border-radius: 50%;
  transform: translateY(50%);
  flex-shrink: 0;
}

.personal-info .slide-down:hover{
    height: 110px;
    width: 110px;
    outline: 1px solid white;
    outline-offset: 5px;
}

.left-line {
    display: none;
    position: absolute;
    top: 30px;
    bottom: 30px;
    width: 2px;
    background: white;
}

@media only screen and (min-width: 768px) {
    .personal-info{
        text-align: right;
    }

    .personal-info .picture {
        width: 300px;
    }

    .personal-info .shape {
        width: 400px;
    }

    .personal-info .main{
        flex-direction: row;
        max-width: 50%;
        gap: 50px;
    }
    
    .personal-info .info h1{
        font-size: 64px;
    }

    .personal-info .contacts{
        padding: 2rem 3rem;
        gap: 1rem;
    }

    .personal-info .contacts a{
        font-size: 22px;
    }
    
    .personal-info .info p{
        font-size: 18px;
    }

    .personal-info .slide-down {
        display: flex;
    }

    .left-line{
        display: block;
    }
}

.text-hover-animation{
    background-image: linear-gradient(
      to right,
      var(--orange),
      var(--orange) 50%,
      #ffffff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-hover-animation:before {
  content: "";
  background: var(--orange);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.text-hover-animation:hover {
  background-position: 0;
}

.text-hover-animation:hover::before {
  width: 100%;
}

/* ---------- Cards ---------- */

/* ----------------------------- */
.container.projects{
    background-color: var(--black);
    color: white;
    text-align: center;
}

.container.projects h1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.cards{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-x: auto;
}

.card-img{
    background-color: var(--black);
    border: 1px solid white;
    width: 250px;
    height: 200px;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    transition: .1s;
}

.card.selected .card-img{
    background-color: wheat;
}

.card-img img{
    width: 100%;
    transition: .1s;
}

.card-img:hover{
    background-color: black;
}

.card.selected:hover .card-img{
    background-color: var(--orange);
}

.card-img:hover img{
    cursor: pointer;
    transform: scale(1.1);
}

.card-name{
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

/* ---------- Projects ---------- */

/* ----------------------------- */

.container.project{
    height: 100vh;
    background-color: wheat;
}

.container.project .bottom-half{
    background-color: var(--black);
    height: 50svh;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/* ---------- Flappy Duck ---------- */

/* --------------------------------- */

.flappy-project .main{
    max-width: 100%;
}

.flappy-project .content{
    flex-grow: 1;
    display: flex;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.flappy-project .image-side{
    display: flex;
    gap: 3rem;
}

.flappy-project .image-side .logo{
    width: calc(780px / 2.5);
    height: calc(384px / 2.5);
    align-self: center;
    margin-top: 40px;
}

.flappy-project .image-side .smartphone{
    width: calc(523px / 2);
    height: calc(1074px / 2);
    align-self: center;
    transition: 0.3s;
    border-radius: 3rem;
}

.flappy-project .image-side .smartphone:hover{
    cursor: pointer;
    transform: scale(1.05);
    outline: 1px solid white;
    outline-offset: 5px;
}

.flappy-project .image-side .bar{
    width: calc(144px * 1);
    height: calc(735px * 1);
    align-self: flex-end;
}

.flappy-project .image-side .bar:nth-child(1){
    transform: translateY(50%);
}

.flappy-project .image-side .bar:nth-child(3){
    transform: translateY(30%);
}

.flappy-project .description-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.flappy-project .description-side .title{ 
    font-size: 28px;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.flappy-project .description-side .description{ 
    font-size: 18px;
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.flappy-project .description-side .description .p{ 
    height: fit-content;
}

.flappy-project .description-side .description .btn-open{ 
    height: fit-content;
}

/* ---------- Flappy Duck ---------- */

/* --------------------------------- */
.tic-tac-toe-project .description-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.tic-tac-toe-project .description-side .title{ 
    font-size: 28px;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.tic-tac-toe-project .description-side .description{ 
    font-size: 18px;
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.tic-tac-toe-project .description-side .description .p{ 
    height: fit-content;
}

.tic-tac-toe-project .description-side .description .btn-open{ 
    height: fit-content;
}

.tic-tac-toe-project .content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}