:root {
    --orange: #ef8354;
    --orange-dark: #d85d28;

    --black: #1e1e1e;
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Roboto", sans-serif;

    margin: 0;
    padding: 0;

    background-color: #090909;
    opacity: 0.9;
    /*
  background-image: linear-gradient(
      30deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      150deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      30deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      150deg,
      #1e1e1e 12%,
      transparent 12.5%,
      transparent 87%,
      #1e1e1e 87.5%,
      #1e1e1e
    ),
    linear-gradient(
      60deg,
      #1e1e1e77 25%,
      transparent 25.5%,
      transparent 75%,
      #1e1e1e77 75%,
      #1e1e1e77
    ),
    linear-gradient(
      60deg,
      #1e1e1e77 25%,
      transparent 25.5%,
      transparent 75%,
      #1e1e1e77 75%,
      #1e1e1e77
    );
  background-size: 66px 116px;
  background-position: 0 0, 0 0, 33px 58px, 33px 58px, 0 0, 33px 58px;
  */
    background: #d1d1d1;
    background: linear-gradient(0deg, rgba(209, 209, 209, 1) 0%, rgba(232, 232, 232, 1) 50%, rgba(245, 245, 245, 1) 100%);
    background-attachment: fixed;
}

.container {
    position: relative;
    padding: 0 1rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    height: 100%;
    padding: 0 2rem;
}

.btn-open {
    border-radius: 2rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    transition: 0.2s;
    font-size: 16px;
    margin: 5px;
}

.btn-icon {
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    transition: 0.2s;
    font-size: 16px;
    margin: 5px;
}

.btn-open:hover,
.btn-icon:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    color: var(--black);
    border: 1px solid var(--black);
}

/* ---------- NavBar ---------- */

/* ---------------------------- */

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: calc(100% - 6rem);
    margin: 1rem 2rem;
    background-color: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    border: 1px solid rgba(1, 1, 1, 0.2);
    transition: all 0.3s ease-in-out;
}

.nav img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}

.nav.dark {
    background-color: rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(245, 245, 245, 0.2);
    transition: all 0.3s ease-in-out;
}

.nav.dark img {
    filter: invert(1);
}

.nav.dark .text-hover-animation {
    background-image: linear-gradient(to right,
            var(--orange),
            var(--orange) 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav.dark .text-hover-animation:before {
    content: "";
    background: var(--orange);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.nav.dark .text-hover-animation:hover {
    background-position: 0;
}

.nav.dark .text-hover-animation:hover::before {
    width: 100%;
}

.navbar-items {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}

.navbar-items li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-items a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (min-width: 1024px) {
    .nav {
        padding: 1rem 1rem;
    }

    .navbar-items a {
        font-size: 22px;
    }
}

/* ---------- Personal Info ---------- */

/* ----------------------------------- */

.personal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: var(--black);
    text-align: center;
    height: 100svh;
}

.personal-info .main {
    flex-direction: column-reverse;
    max-width: 80%;
}

.personal-info h1 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(45deg, var(--orange), var(--orange-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.personal-info .habilities {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

.personal-info .habilities span {
    font-size: 24px;
}

.personal-info .info p {
    font-size: 18px;
}

.personal-info .contacts {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.personal-info .contacts a {
    color: var(--black);
    text-decoration: none;
    width: max-content;
    font-size: 18px;
}

.personal-info .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-info .picture {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 150px;
    z-index: 10;

    transition: 0.2s;
    outline: 1px solid rgba(1, 1, 1, 0.2);
    outline-offset: 5px;
}

.personal-info .picture:hover {
    transition: 0.2s;
    outline: 1px solid var(--black);
    outline-offset: 10px;
}

.personal-info .shape {
    aspect-ratio: 1;
    width: 200px;
    transform: translateX(20%);
}

.personal-info .slide-down {
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    bottom: calc(50px + 1rem);
    z-index: 10;
    text-decoration: none;
    color: white;

    height: 80px;
    width: 80px;
    transition: 0.2s;

    outline: 1px solid rgba(1, 1, 1, 0.2);
    outline-offset: 5px;
    background: var(--orange);
    border-radius: 50%;
    transform: translateY(50%);
    flex-shrink: 0;
}

.personal-info .slide-down:hover {
    height: 90px;
    width: 90px;
    outline: 1px solid var(--black);
    outline-offset: 5px;
}

.left-line {
    display: none;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    width: 2px;
    background: var(--black);
}

@media only screen and (min-width: 768px) {
    .personal-info {
        text-align: right;
    }

    .personal-info .picture {
        width: 300px;
    }

    .personal-info .shape {
        width: 400px;
    }

    .personal-info .main {
        flex-direction: row;
        max-width: 50%;
        gap: 50px;
    }

    .personal-info .info h1 {
        font-size: 64px;
    }

    .personal-info .contacts {
        padding: 2rem 3rem;
        gap: 1rem;
    }

    .personal-info .contacts a {
        font-size: 22px;
    }

    .personal-info .info p {
        font-size: 18px;
    }

    .personal-info .slide-down {
        display: flex;
    }

    .left-line {
        display: block;
    }
}

.text-hover-animation {
    background-image: linear-gradient(to right,
            var(--orange),
            var(--orange) 50%,
            var(--black) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-hover-animation:before {
    content: "";
    background: var(--orange);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.text-hover-animation:hover {
    background-position: 0;
}

.text-hover-animation:hover::before {
    width: 100%;
}

/* ---------- Cards ---------- */

/* ----------------------------- */
.container.projects {
    background: #141414;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(38, 38, 38, 1) 50%, rgba(66, 66, 66, 1) 100%);
    color: white;
    text-align: center;
}

.container.projects h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.container .content {
    width: 100%;
}

.cards {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: auto;
}

.card-img {
    background-color: var(--black);
    border: 1px solid white;
    width: 250px;
    height: 200px;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    transition: .1s;
}

.card.selected .card-img {
    background: #d1d1d1;
    background: linear-gradient(0deg, rgba(209, 209, 209, 1) 0%, rgba(232, 232, 232, 1) 50%, rgba(245, 245, 245, 1) 100%);
}

.card-img img {
    width: 100%;
    transition: .1s;
}

.card-img:hover {
    background-color: black;
}

.card.selected:hover .card-img {
    background-color: var(--orange);
}

.card-img:hover img {
    cursor: pointer;
    transform: scale(1.1);
}

.card-name {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

/* ---------- Projects ---------- */

/* ----------------------------- */

.container.project {
    height: 100vh;
    background: #d1d1d1;
    background: linear-gradient(0deg, rgba(209, 209, 209, 1) 0%, rgba(232, 232, 232, 1) 50%, rgba(245, 245, 245, 1) 100%);
}

.container.project .bottom-half {
    background: #141414;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(38, 38, 38, 1) 50%, rgba(66, 66, 66, 1) 100%);
    height: 50svh;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/* ---------- Flappy Duck ---------- */

/* --------------------------------- */

.flappy-project .main {
    max-width: 100%;
}

.flappy-project .content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.flappy-project .image-side {
    display: flex;
    gap: 3rem;
}

.flappy-project .image-side .logo {
    width: calc(780px / 2.5);
    height: calc(384px / 2.5);
    align-self: center;
    margin-top: 40px;
}

.flappy-project .image-side .smartphone {
    width: calc(523px / 2);
    height: calc(1074px / 2);
    align-self: center;
    transition: 0.3s;
    border-radius: 3rem;
}

.flappy-project .image-side .smartphone:hover {
    cursor: pointer;
    transform: scale(1.05);
    outline: 1px solid var(--black);
    outline-offset: 5px;
}

.flappy-project .image-side .bar {
    width: calc(144px * 1);
    height: calc(735px * 1);
    align-self: flex-end;
}

.flappy-project .image-side .bar:nth-child(1) {
    transform: translateY(50%);
}

.flappy-project .image-side .bar:nth-child(3) {
    transform: translateY(30%);
}

.flappy-project .description-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.flappy-project .description-side .title {
    font-size: 28px;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.flappy-project .description-side .description {
    font-size: 18px;
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.flappy-project .description-side .description .p {
    height: fit-content;
}

.flappy-project .description-side .description .btn-open {
    height: fit-content;
}

@media only screen and (max-width: 768px) {

    .smartphone,
    .bar-2 {
        display: none;
    }

    .flappy-project .image-side .bar-1 {
        width: calc(144px * 0.7);
        height: calc(735px * 0.7);
    }

    .flappy-project .description-side .title h1 {
        font-size: 30px;
    }

    .flappy-project .description-side .description {
        font-size: 16px;
    }
}

/* ---------- Tic-Tac-Toe ---------- */

/* --------------------------------- */
.tic-tac-toe-project .description-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.tic-tac-toe-project .description-side .title {
    font-size: 28px;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.tic-tac-toe-project .description-side .description {
    font-size: 18px;
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.tic-tac-toe-project .description-side .description .p {
    height: fit-content;
}

.tic-tac-toe-project .description-side .description .btn-open {
    height: fit-content;
}

.tic-tac-toe-project .content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .tic-tac-toe-project .description-side .title h1 {
        font-size: 30px;
    }

    .tic-tac-toe-project .description-side .description {
        font-size: 16px;
    }
}

/* ---------- Timer ---------- */

/* --------------------------------- */
.timer-project .description-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.timer-project .description-side .title {
    font-size: 28px;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.timer-project .description-side .description {
    font-size: 18px;
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.timer-project .description-side .description .p {
    height: fit-content;
}

.timer-project .description-side .description .btn-open {
    height: fit-content;
}

.timer-project .content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .timer-project .description-side .title h1 {
        font-size: 30px;
    }

    .timer-project .description-side .description {
        font-size: 16px;
    }
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem;
    color: #ffffff;
    overflow-x: auto;
    border: 1px solid white;
    border-radius: 1rem;
}

.technologies .logo {
    filter: saturate(0);
    width: 50px;
    height: auto;
    margin-inline: 5rem;
    transition: 0.1s;
}

.technologies .logo:hover {
    cursor: pointer;
    filter: saturate(1);
    scale: 1.1;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2rem 0;
}

.works {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.work .period {
    display: flex;
    gap: 0 1rem;
    font-size: 18px;
    color: white;
    margin-right: 1rem;
}

.work .line{
    display: inline-block;
    position: relative;
    width: 1px;
    height: 150px;
}

.work .line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px; /* largura da borda */
    height: 100%; /* linha completa para o primeiro work */
    background-color: white; /* cor da borda */
}

.work:first-child .line::before {
    height: 50%; /* metade inferior para os demais */
    top: 50%;
}

.work:last-child .line::before {
    height: 50%; /* metade superior para o último work */
}

.work:hover .point {
    outline: 1px solid var(--orange);
    outline-offset: 5px;
    transition: 0.2s;
}

.work .point {
    display: inline-block;
    position: absolute;
    left: -5px;
    top: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.work .description {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 0 1rem;
}

.work .description h4{
    margin: 5px;
    color: var(--orange);
}

.work .description b{
    margin: 5px;
}


.work .description p{
    margin: 5px;
}

.footer {
    background: #141414;
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(38, 38, 38, 1) 50%, rgba(66, 66, 66, 1) 100%);
    color: azure;
    padding: 1rem 3rem;
}

.footer .content {
    border-top: 1px solid white;
    padding: 2rem 1rem;
}