/* ---------- Tic-Tac-Toe ---------- */

/* --------------------------------- */
.tic-tac-toe-project .description-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.tic-tac-toe-project .description-side .title {
    font-size: 28px;
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.tic-tac-toe-project .description-side .description {
    font-size: 18px;
    color: white;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 1rem;
}

.tic-tac-toe-project .description-side .description .p {
    height: fit-content;
}

.tic-tac-toe-project .description-side .description .btn-open {
    height: fit-content;
}

.tic-tac-toe-project .content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .tic-tac-toe-project .description-side .title h1 {
        font-size: 30px;
    }

    .tic-tac-toe-project .description-side .description {
        font-size: 16px;
    }
}